<div id="welcome-to-ofunnel" class="display-none" style="height: 400px;">
  <!-- START Welcome to OFunnel LIGHT BOX -->
  <div class="lightbox" style="width:705px; height:400px;">
    <h2 class="col-blue">Welcome to OFunnel!</h2>
    <a href="#" class="cancel-icon"></a>

    <div class="welcome-box">
      <div class="row">
        <img src="/assets/welcome-img-1.jpg" class="mrg-R20">
        <div class="text-box">
          <span class="font-16 bold italic">Get an Introduction</span>
          <div>Search for the role and company with whom you need an introduction. See if you have anyone within your existing network who can help. If not, Ask for an introduction and real world groups you are part of will help.</div>
        </div>
      </div>

      <div class="row">
        <img src="/assets/welcome-img-2.jpg" class="mrg-L20 mrg-R20 float-R">
        <div class="text-box mrg-T20 pad-L10" style="width:335px;">
          <span class="font-16 bold italic">Give an Introduction</span>
          <div>These are the introduction requests you can help with. Accept the request and select who are you introducing the person with. Or request more information. Of course, since these are not direct requests to you, you can Ignore as well. No social pressure.</div>
        </div>
      </div>

      <div class="send-box mrg-T10"><a href="#" class="close-welcome-popup send-btn calibrib">Start using OFunnel</a></div>
    </div>

  </div><!-- START Welcome to OFunnel LIGHT BOX -->
</div>
