<div class="lightbox">
	<h2 class="title font-26 col-blue">Thank you.</h2>
	<p>	A message has been sent to 
		<span class="col-blue more_info_name_span font-16 calibrib"> </span> asking for more information.
	</p>
</div>