<div class="autocomplete-box display-none">
  <div class="search-connection-loader"></div>
  <div class="search-connection-no-result">No connection found</div>
  <table width="100%" align="center" cellpadding="6" cellspacing="0">
    <tbody>
    </tbody>
  </table>
</div>
