<div id="update-open-request" style="display: none;">
  <!-- START Send a Request LIGHT BOX -->
  <div class="lightbox" style="width:650px;">
    <h2 class="col-blue"><img class="mrg-R10" src="/assets/open-requset-2.png" alt="" title="" />Ask for an Introduction</h2>
    <%= form_tag(update_request_info_path, :id => "new_open_request", :class => "all-box", :style => "width:68%;") do %>
        <input name="request_id" type="hidden" value="">
        <span class="bold font-14 mrg-B10 float-L">To the following groups</span>
        <div class="tag-box" id="open-request-tags" style="width: 147%;">
          <input type="hidden" value="" name="visibility_tags"/>
        </div>
        <label for="requests" class="bold font-14">Request Title: <span class="col-red font-18" id="open-request-title-error" style="display: none;"> * </span></label>
        <input name="title" type="text" class="input_100" value="">
        <label for="requests" class="bold font-14">Who do you want an introduction with?</label>
        <div class="input-relative">
          <input type="text" name="query" class="input_100 request_connection_search" placeholder="Anyone" /><a href="#" class="downarrow" ></a>
          <input type="hidden" name="linkedin_id" value=""/>
          <%= render :partial => 'requests/search_connections' %>
        </div>
        <label for="Message" class="bold font-14">Why do you want this introduction? <span class="col-red font-18" id="open-request-message-error" style="display: none;"> * </span></label>
        <textarea name="message" type="text" class="input_100 textarea"></textarea>
        <div class="send-box"><input class="send-btn calibrib" type="submit" value="Send Request"></div>
    <% end %>
    <div class="chances-box">
      <span class="col-blue font-14 bold float-L mrg-B10 mrg-T10">Increase your chances of getting an introduction:</span>
      <ul>
        <li>Show that you've done your research on the company and person you are asking for an introduction to.</li>
        <li>Be as descriptive as possible when describing why you want an introduction.</li>
      </ul>
    </div>
  </div><!-- START Send a Request LIGHT BOX -->
</div>
