<div class="ofunnelalert-box">
  <div class="userprofile-box">
    <div class="topheadingwrapper" style="width: 533px;">
      <div class="headings1 pad-B20">New Alert</div> <a href="<%= alerts_path %>" class="addnewalerts">Cancel</a>
    </div>
  </div>
  <%= render "alert_form" %>
</div>
