<div class="ofunnelalert-box">
  <div class="userprofile-box">
    <div class="topheadingwrapper">
      <div class="headings1 pad-B20">New Alert</div>
    </div>
  </div>
  <%= render "alert_form" %>
</div>
