<div class="all-box-2" style="display: none;">
<div class="twitter_internet-box">
<span class="font-15 bold mrg-B15"> User's Twitter feed: </span>
<br />
<span class="col-blue font-13"><strong class="bold font-14">Lorem Ipsum</strong> dolor @site amet ellus eclor, consectetur #erastium.</span>
<br />
<span class="col-gray font-11"> 2 hours ago via mobile </span>
<br /><br />
<span class="col-blue font-13"><strong class="bold font-14">Lorem Ipsum</strong> dolor @site amet ellus eclor, consectetur #erastium.</span>
<br />
<span class="col-gray font-11"> 2 hours ago via mobile </span>
<br /><br />
<a href="#" class="col-orange"> » View user's Twitter page</a>
</div>
<!---->
<div class="twitter_internet-box float-R">
<span class="font-15 bold mrg-B15"> From the internet: </span>
<br />
<strong class="bold col-blue font-14">Nike growth in Asia Triples</strong>
<br />
<span class="col-gray font-11"> Forbes, March 28, 2013 </span>
<br /><br />
<strong class="bold col-blue font-14">Retail woes for nike</strong> <span class="col-gray font-11"> Booomberg, February 2013</span>
<br /><br />
<strong class="bold col-blue font-14">Asian Markets slump spells opportunity for Nike</strong> <span class="col-gray font-11"> Booomberg, February 2013</span>
<br /><br />
<a href="#" class="col-orange"> » View user's Twitter page</a>
</div>
</div>
<br>
<a href="#" class="float-R font-12 search-result-expand">expand ▼</a>
<a href="#" class="float-R font-12 search-result-collapse" style="display: none;">close ▲</a>
