<div class="mobile-container-white" style="background:#F3F3F3; box-shadow: 0 3px 3px #999999 inset; min-height:500px;">
  <!--start mobile-container-Box-->
  <div class="mobile-container-box">
    <div class="container">
      <div class="discover-box" style="width:100%; padding:0;">
        <div class="userprofile-box">
          <div class="profile-title">OFunnel Alerts</div>
        </div>
        <div class="contoso-page">
          <p class="font-17 mrg-T20" style="margin:0;"> <strong class="col-blue"> Thank you.</strong> We have registered your target accounts. We will notify you when you have new connections here.</p>
          <div class="send-box txt-L mrg-T15 mrg-B35"><a href="<%= discover_relationships_path %>" class="send-btn  pad-T15 pad-B15 float-L txt-C">Add more Target Accounts</a></div>
          <p class="all-box font-17">Also try out our solution for introductions!</p>
          <div class="send-box txt-L"><a href="<%= requests_path %>" class="send-btn  pad-T15 pad-B15 float-L txt-C" target="ofunnel">Ask for Introductions</a></div>
        </div> <!-- End Contoso Page -->
      </div><!-- End discover-box -->
    </div>
  </div><!--end mobile-container-Box-->
</div>
