/*------------------- theme black -----------------*/
@charset "utf-8";
/* CSS Document */

*{ margin:0px; padding:0px;}

.fl{ float:left;}
.fr{ float:right;}

body{ margin:0px; padding:0px;}


.maincontainer{ width:100%; margin:0 auto;}
.maincontainer_section{ width:100%;}

.theme_black{ background-color: #424242;background-image: none; border-bottom:1px solid #696969; color:#DDDDDD;}
.theme_black .thumbtop_section{ overflow: hidden;padding: 4px 6px 10px 5px;}
.theme_black .thimg{ position:relative;}
.theme_black .thumb_img{height: 30px; left:5px; top: 5px; width: 30px;  border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; overflow:hidden; position:absolute;}
.theme_black .thumb_img:hover{ text-decoration:none;}
.theme_black .thumbuser_details{ overflow: hidden;padding: 4px 6px 5px 42px;position: relative;word-wrap: break-word;}
.theme_black .thumb_username{ font:12px Verdana, Geneva, sans-serif; font-weight:bold; color: #D0D0D0; float:left; margin:0px; padding:0px; line-height:10px; clear: left;}
.theme_black .thumb_username a{ text-decoration:none; color:#D0D0D0; }
.theme_black .thumb_username a:hover{ text-decoration:underline; color:#D0D0D0; }
.theme_black .thumb_date{font-family:Arial, Helvetica, sans-serif; float: left; font-size: 11px; color:#817f7f; margin-top:1px; margin-bottom: 6px; vertical-align: middle; clear: left; white-space: nowrap;}
.theme_black .text{font-family:Arial, Helvetica, sans-serif; float: left; font-size: 12px; margin-bottom:6px; vertical-align: middle; clear: left; border-bottom: 1px solid #696969; padding-bottom:6px; word-wrap: break-word; width:100%;}
.theme_black .text a{ color:#B4B2AA; text-decoration:none;}
.theme_black .text a:hover{ color:#B4B2AA; text-decoration:underline;}
.theme_black .bigimg_details{ float:left;width:97%; padding-left:0%;}
.theme_black .large_img{float:left;width:100%; max-width: 130px; width: 28%; margin-right:5px; overflow:hidden; text-decoration:none; border:1px solid; display:block; background-color: #FFFFFF; border-color: #FFFFFF; box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); padding:1px;}
.theme_black .large_img:hover{ text-decoration:none; border-color: #CBA523;}
.theme_black .bigbuser_details{ float:left; width: 65%;}
.theme_black .bigbuser_username{ font:12px Arial, Helvetica, sans-serif; font-weight:bold; color: #D0D0D0; float:left; margin:0px; padding:0px; line-height:10px; clear: left; width:100%;}
.theme_black .bigbuser_username a{ text-decoration:none; color:#D0D0D0;}
.theme_black .bigbuser_username a:hover{ text-decoration:underline; color:#D0D0D0;}
.theme_black .biguser_designation{font-family:Arial, Helvetica, sans-serif; float: left; font-size: 11px; color:#D0D0D0; margin-top:4px; margin-bottom: 6px; vertical-align: middle; clear: left; width:100%;}
.theme_black .large_img img{ display: block; max-height: 200px; min-height: 40px; min-width: 50px; width: 100%;}

/*=======================discover btn ========================================*/
.disc-intro-box{
    width:220px;
    float:left;
    color:#fff;
    text-align:center;
    margin-right:10px;
}
.disc-intro-box .in-btn{
    background: url("../assets/in-btn.png") no-repeat scroll 17px center #FF5D00;
    box-shadow: 0 0 5px #333333;
    color: #FFFFFF;
    float: left;
    font-size: 17px;
    font-weight: bold;
    height: 65px;
    text-align: left;
    width: 268px;
    margin:0 5px;
}
.in-btn span{
    border-left: 1px solid #FFFFFF;
    float: left;
    height: 70%;
    margin: 6px 10px 0 60px;
    padding: 6px 0 0 13px;
}

.tabs_new { height:27px;padding: 0px; margin: 0 0 0 0; }
.tabs_new .nav { height: 100%;overflow: hidden; background: #f2f2f2; list-style:none}
.tabs_new .nav li { width: 50%; float: left; margin: 0; font-family:Arial, Helvetica, sans-serif; }
.tabs_new .nav li.last { margin-right: 0; }
.tabs_new .nav li a { display: block; padding: 5px; background: #fff; color:#239CB9; font-size: 12px; text-align: center;  border:none; border-right: 1px solid #E1E1E1; text-decoration:none; }
.tabs_new li a.current { background: #f2f2f2 !important; color:#239CB9;  }
.tabs_new li a.current:hover { background: #f6f6f6 !important; color:#239CB9 !important;  }
.tabs_new .nav li a:hover, .tabs_new .nav li a:focus { background: #f2f2f2; color: #239CB9; font-weight: bolder; }
