/*------------------- theme blue steel -----------------*/
@charset "utf-8";
/* CSS Document */

html {
    background-color: #dfe1e4;
}

*{ margin:0px; padding:0px;}

.fl{ float:left;}
.fr{ float:right;}

body{ margin:0px; padding:0px;}


.maincontainer{ width:100%; margin:0 auto;}
.maincontainer_section{ width:100%;}

.theme_blue_steel{ background-color: #f4f4f4; background-image: none;}
.theme_blue_steel .thumbtop_section{ overflow: hidden;}
.theme_blue_steel .thimg{ position:relative; clear:both;}
.theme_blue_steel .thumb_img{height: 30px; left:5px; top: 5px; width: 30px;  border-radius:1px; -moz-border-radius:1px; -webkit-border-radius:1px; overflow:hidden; position:absolute;}
.theme_blue_steel .thumb_img:hover{ text-decoration:none;}
.theme_blue_steel .thumbuser_details{ overflow: hidden; padding: 4px 6px 5px 42px; position: relative; word-wrap: break-word;}
.theme_blue_steel .thumb_username{ font:12px Arial, Helvetica, sans-serif; font-weight:bold; color: #D0D0D0; float:left; margin:0px; padding:0px; line-height:10px; clear: left;}
.theme_blue_steel .thumb_username a{ text-decoration:none; color:#3e5471; }
.theme_blue_steel .thumb_username a:hover{ text-decoration:underline; color:#3e5471; }
.theme_blue_steel .thumb_date{font-family:Arial, Helvetica, sans-serif; float: left; font-size: 11px; color:#817f7f; margin-top:1px; margin-bottom: 6px; vertical-align: middle; clear: left; white-space: nowrap;}
.theme_blue_steel .text{font-family:Arial, Helvetica, sans-serif; float: left; font-size: 12px; margin-bottom:6px; vertical-align: middle; clear: left; border-bottom: 1px solid #e0e0e0; padding-bottom:6px; word-wrap: break-word; width:100%; color:#32363F;}
.theme_blue_steel .text a{ color:#6989b1; text-decoration:none;}
.theme_blue_steel .text a:hover{ color:#6989b1; text-decoration:underline;}
.theme_blue_steel .bigimg_details{ position:relative; width:88%; padding-left:42px;}
.theme_blue_steel .large_img{float:left;width:100%; max-width: 130px; width: 28%; margin-right:5px; overflow:hidden; text-decoration:none; border:1px solid; display:block; background-color: #FFFFFF; border-color: #FFFFFF; box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); padding:1px;}
/*.theme_blue_steel .large_img:hover{ text-decoration:none; border-color: #4E763E;}*/
.theme_blue_steel .bigbuser_details{ float:left; width: 65%;}
.theme_blue_steel .bigbuser_username{ font:12px Arial, Helvetica, sans-serif; font-weight:bold; color: #376299; float:left; margin:0px; padding:0px; line-height:10px; clear: left; width:100%;}
.theme_blue_steel .bigbuser_username a{ text-decoration:none; color:#376299;}
.theme_blue_steel .bigbuser_username a:hover{ text-decoration:underline; color:#376299;}
.theme_blue_steel .biguser_designation{font-family:Arial, Helvetica, sans-serif; float: left; font-size: 12px; color:#808080; margin-top:4px; margin-bottom: 6px; vertical-align: middle; clear: left; width:100%;}
.theme_blue_steel .large_img img{ display: block; max-height: 200px; min-height: 40px; min-width: 50px; width: 100%;}
 

/*======================== 10/10/13 theme classic css ============================*/

.theme_blue_steel_topsec{ background:background: #f5f5f5; /* Old browsers */
background: -moz-linear-gradient(top,  #f5f5f5 0%, #e6e6e6 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#e6e6e6)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f5f5f5 0%,#e6e6e6 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f5f5f5 0%,#e6e6e6 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f5f5f5 0%,#e6e6e6 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f5f5f5 0%,#e6e6e6 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e6e6e6',GradientType=0 ); /* IE6-9 */
border-bottom:1px solid #9d9d9d;
box-shadow: 0 2px 6px 3px #CCCCCC;
-moz-box-shadow: 0 2px 6px 3px #CCCCCC;
-webkit-box-shadow: 0 2px 6px 3px #CCCCCC;
width:100%;
position:relative;
}

.theme_blue_steel_topsec .topsec_box{ position:relative; width:100%; border-bottom:1px solid #bebebe; height:33px;}
.theme_blue_steel_topsec .topsec_dropdown_holder{ right:0; position:absolute; width:60px; height:33px; }
.theme_blue_steel_topsec .topsec_dropdown{background:url(../assets/drop_down.png) center center no-repeat; position:relative; float: right;width:29px; height:33px; }
.theme_blue_steel_topsec .topsec_dropdown:hover .top_links{ display:block;}

.theme_blue_steel_topsec .top_links{ width:99%; margin:auto; }
.theme_blue_steel_topsec .top_links ul{ list-style:none; margin:0px; padding:0px;}
.theme_blue_steel_topsec .top_links ul li{ font-family: Arial, Helvetica, sans-serif; font-size:13px; text-align:right; color:#239cb9; border-bottom:1px solid #d0d0d0; padding:7px 0px;}
.theme_blue_steel_topsec .top_links ul li a{ text-decoration:none; color:#376299;}
.theme_blue_steel_topsec .top_links ul li a:hover{ text-decoration:none; color:#376299;}
.theme_blue_steel_topsec .top_links ul li:last-child{ border-bottom:none;}

.height10{ clear:both; height:10px; width:100%;}
.height1{ clear:both; height:1px; width:100%;}
.theme_blue_steel .target_block{ width:99%; margin:10px 0px; background:#dee0e3; position:relative; clear:both; padding:5px; font:12px Arial, Helvetica, sans-serif; color:#376299; font-weight:bold; border-top:1px solid #cccccc;}
.theme_blue_steel .target_block a{ text-decoration:none;color:#376299; }
.theme_blue_steel .target_block a:hover{ text-decoration:none;color:#376299; }

div.alerts-tab {
    float: left;
    width: 50%;
    height:72%;
    padding-top: 8px;
    text-align: center;
}

div.alerts-tab a {
    color:#376299 !important;
    text-decoration:none !important;
    font-size: 12px !important;
    font-weight: bold !important;
}

div.targets-tab {
    float: right;
    width: 50%;
    height: 72%;
    padding-top: 8px;
    text-align: center;
}

div.targets-tab a {
    color:#376299 !important;
    text-decoration:none !important;
    font-size: 12px !important;
    font-weight: bold !important;
}

div.active { }

div.inactive {
    background: #f5f5f5;
}

.theme_blue_steel_topsec .topsec_settings{background:url(../assets/settings.png) center center no-repeat; float:right; width:29px; height:33px; }

.theme_blue_steel_topsec .settings_links{ width:99%; margin:auto; }
.theme_blue_steel_topsec .settings_links ul{ list-style:none; margin:0px; padding:0px;}
.theme_blue_steel_topsec .settings_links ul li{ font-family: Arial, Helvetica, sans-serif; font-size:13px; text-align:right; color:#239cb9; border-bottom:1px solid #d0d0d0; padding:7px 0px;}
.theme_blue_steel_topsec .settings_links ul li a{ text-decoration:none; color:#376299;}
.theme_blue_steel_topsec .settings_links ul li a:hover{ text-decoration:none; color:#376299;}
.theme_blue_steel_topsec .settings_links ul li:last-child{ border-bottom:none;}

.mobile-container-gray {
    background: #f4f4f4 !important;
}

select {
    border: 1px solid #c5c6c8 !important;
    background-color: #f4f4f4 !important;
    -webkit-box-shadow: none !important;
    -webkit-border-radius: none !important;
    -moz-box-shadow: none !important;
    -moz-border-radius: none !important;
}

select:focus {
    border: 1px solid #c5c6c8 !important;
}

input {
    border: 1px solid #c5c6c8 !important;
}

input:focus {
    border: 1px solid #c5c6c8 !important;
}

.addmore-box .name-select {
    background-color: #fff !important;
    -webkit-box-shadow: none !important;
    -webkit-border-radius: none !important;
    -moz-box-shadow: none !important;
    -moz-border-radius: none !important;
}

.hs_btn-cmt {
    color: #fff !important;
}

.hs_btn-cmt:hover {
    color: #fff !important;
}

.separator {
    width: 95%;
    border-top: 1px solid #babdc0;
    margin: 15px auto;
    margin-top: 130px !important;
}

.right-border {
    margin-right: 15px;
    padding-right: 15px;
    margin-left: 15px;
    border-right: 2px solid #d6d8d9;
}
