<div>
  <div style="margin: 150px auto 0; width: 195px;">
    <img class="logo" src="/assets/logo.jpg" width="200"  alt="OFunnel" title="OFunnel" />
  </div>
  <div style="margin: 15px auto; width: 275px;">
    <div class="disc-intro-box">
      <a href="#" id="linkedin-login" class="in-btn" target="OFunnel" onclick="window.open('<%= hootsuite_authorize_url %>', '', 'width=550,height=700');return false;"> <span>Use LinkedIn to sign <br> up for OFunnel Alerts</span></a>
    </div>
  </div>
</div>

